@{
    ViewData["Title"] = "Our Purpose";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <title>Our Purpose</title>
</head>
<body>

    <p>Welcome to SoundHouseFun, where we try to provide our customers full enjoyment by selling them various popular songs.</p>

    <h2>What We Offer</h2>
    <p>Various popular songs grouped in the website-defined albums
       We do not sell entire albums yet but it will definitely implemented in the future
    </p>

    <h2>Our Vision</h2>
    <p>We strive to sell the best songs to our customers and we hope to continue doing this in the future</p>

    <h2>Why Choose Us?</h2>
    <p>Compared to music services such as Youtube Music and Spotify (Free Version), SoundHouseFun customer would be able to download the music directly on their device from the website after completing the payment.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions, feedback, or suggestions, we'd love to hear from you. Feel free to reach out to us at customersupport@soundhousefun.com. Your input is important to us as we strive to improve and provide the best experience for our users.</p>

    <p style="font-style: italic">Thank you for being a part of SoundHouseFun. We're excited to have you on board!</p>
</body>
</html>
