@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
</head>
<body>

    <p>Feel free to get in touch with us by using the email address below. We value your feedback and are here to help with any questions you may have.</p>

    <p>You can reach us directly at customersupport@soundhousefun.com. We will do our best to respond to your inquiry promptly.</p>

    <p>Thank you for reaching out to us!</p>
</body>
</html>
