@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <title>Privacy Policy</title>
</head>
<body>

    <p>Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your personal information when you use our website [YourWebsiteURL] or any related services (collectively, the "Service").</p>

    <h2>Information We Collect</h2>

    <p>We may collect personal information that you provide directly to us. This may include:</p>
    <ul>
        <li>Your name, email address, and other contact information when you sign up for an account.</li>
        <li>Payment information for purchasing songs and related services.</li>
        <li>Information you provide when you contact us or interact with our customer support.</li>
    </ul>

    <h2>How We Use Your Information</h2>

    <p>We may use your personal information for various purposes, including:</p>
    <ul>
        <li>Providing and maintaining the Service, including processing transactions and delivering songs to you.</li>
        <li>Responding to your requests, comments, or inquiries.</li>
        <li>Improving and customizing the user experience.</li>
        <li>Complying with legal obligations and protecting our rights.</li>
    </ul>

    <h2>Information Sharing</h2>

    <p>We may share your personal information with third parties in the following situations:</p>
    <ul>
        <li>With your consent.</li>
        <li>With service providers that assist us in providing the Service (e.g., payment processors).</li>
        <li>If required by law or to protect our rights.</li>
    </ul>

    <h2>Your Choices</h2>

    <p>You have the right to:</p>
    <ul>
        <li>Access, update, or delete your personal information.</li>
    </ul>

    <h2>Contact Us</h2>

    <p>If you have any questions or concerns about our Privacy Policy, please contact us at customersupport@soundhousefun.com.</p>

</body>
</html>

