html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("../img/background-gradient.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-thumbnail {
    max-width: 100px;
}

footer {
    color: white;
}

a {
    color: lightgrey;
}